# Arquivos de ambiente
*.env
*.env.*

# Python cache
__pycache__/
*.egg-info
build/
dist/

# Virtual environments
.venv/

# Databricks
.databricks/

# Dados brutos locais (CSVs grandes)
database/

# Scratch e explorations
scratch/**
!scratch/README.md
**/explorations/**